.star-rating {
  display: flex;
}

.back-stars {
  display: flex;
  color: #bb5252;
  position: relative;
}

.front-stars {
  display: flex;
  color: #ffbc0b;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: all 0.5s;
}
